name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Go test cardgame
      id: go-test-cardgame
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: Go test cardgame
        setup-command: ''
        command: go test ./cardgame/...
        timeout: 10
        max-score: 1
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        GO-TEST-CARDGAME_RESULTS: "${{steps.go-test-cardgame.outputs.result}}"
      with:
        runners: go-test-cardgame
